/* bg-color #1a1a1a 
main color #b3661e
shades #ffa855  #ffe9d5
tint #ff922b

*/

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Tangerine:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6.5em;
}

h1 {
  color: #b3661e;
  margin: 1em 1em;
  font-family: "Great Vibes", cursive;
  font-size: 2.4em;
  text-decoration: underline;
}

nav {
  display: flex;
  margin-top: 1em;
  padding: 1em;
}
nav a {
  color: #ffa855;
  text-decoration: none;
  padding-right: 1em;
}

nav a:hover {
  color: #ffe9d5;
  transition: ease 0.75s;
  transform: scale(1.2);
}
a.bio {
  margin-top: 3em;
}

a.experience {
  margin-top: 6em;
  color: #ffe9d5;
}
a.work {
  margin-top: 9em;
}

/* *******************main******************* */
main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icons div {
  height: 3em;
  width: 3em;
  background-color: #ff922b;
  margin-bottom: 1em;
  border-radius: 100em;
  margin-left: 1em;
}

.link_1 {
  height: 3em;
  width: 3em;
  border-radius: 100em;
}
/* selects elem with attribute === link  */
[class*="link"]:hover {
  background-color: transparent;
  transition: all ease 0.3s;
}
.link_2 {
  height: 5em !important;
  width: 5em !important;
  border-radius: 100em;
}
.link_3 {
  height: 7em !important;
  width: 7em !important;
  border-radius: 100em;
}

.fa-solid,
.fa-brands {
  color: #ffe9d5;
  font-size: 2em;
}

.exp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.box {
  margin-top: -14em;
  margin-left: -8em;
  width: 30em;
  height: 40rem;
  background: rgba(255, 146, 43, 0.25);
  box-shadow: 0 8px 32px 0 rgba(255, 168, 85, 0.38);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.box:hover {
  background-image: url(img/arthur-yao-hZmieWs0wQA-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: ease-in-out 0.3s;
}

h3 {
  color: #ffa855;
  text-align: center;
  margin-top: 1.2em;
  letter-spacing: 1.4px;
}

p {
  color: #ffe9d5;
  margin-top: 1em;
  backdrop-filter: blur(10px) opacity(0.8);
  text-align: left;
  padding: 1em 1.5em;
  opacity: 0.1;
}

p:hover {
  opacity: 1;
}

footer {
  color: #b3661e;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 8.5em;
}

/* *************media queries*************** */

@media screen and (max-width: 500px) {
  body {
    height: 100vh;
    height: 100vw;
  }
  header {
    display: flex;
    flex-direction: column;
    height: 10em;
    
  }

  h1 {
    text-align: center;
    font-size: 1.4em;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -2em;
  }
  a.bio {
    margin-top: 1em;
    font-size: 1em;
  }

  a.experience {
    margin-top: 1em;
    font-size: 1em;
  }
  a.work {
    margin-top: 1em;
    font-size: 1em;
  }

  .icons div {
    margin-bottom: 1em;
    margin-left: 1em;
    background: #1a1a1a;
  }

  .fa-solid,
  .fa-brands {
    font-size: 1.4em;
  }
  .link_3 {
    margin-top: -2em;
  }
  .box {
    margin-top: -5em !important;
    height: 20em;
    width: 60vw !important;
    
  }

  h3 {
    color: #ffa855;
    text-align: center;
    margin-top: 1.2em;
    letter-spacing: 1.4px;
    font-size: 1em;
  }

  p {
    color: #ffe9d5;
    margin-top: -.6em !important;
    backdrop-filter: blur(10px) opacity(0.8);
    text-align: left;
    padding: 1em 1.5em;
    opacity: 0.1;
    font-size: 0.6em;
    line-height: 1;
  }

  footer {
    margin-top: 1.4em !important;
    font-size: 0.5em;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.6em;
    margin-top: 1.6em;
  }
  a.home {
    margin-top: 1em;
    font-size: 1em;
    font-size: 0.8em;
  }
  a.bio {
    margin-top: 1em;
    font-size: 1em;
    font-size: 0.8em;
  }

  a.experience {
    margin-top: 1em;
    font-size: 1em;
    font-size: 0.8em;
  }
  a.work {
    margin-top: 1em;

    font-size: 0.8em;
  }
  .icons div {
    margin-bottom: 1em;
    margin-left: 1em;
    background: #1a1a1a;
  }

  .fa-solid,
  .fa-brands {
    font-size: 1.2em;
  }
  .box {
    height: 20em;
    width: 40vw;
    margin-top: 3em;
  }

  h3 {
    color: #ffa855;
    text-align: center;
    margin-top: 1.2em;
    letter-spacing: 1.4px;
    font-size: 1em;
  }

  p {
    color: #ffe9d5;
    margin-top: 1em;
    backdrop-filter: blur(10px) opacity(0.8);
    text-align: left;
    padding: 1em 1.5em;
    opacity: 0.1;
    font-size: 0.6em;
    line-height: 1;
  }

  footer {
    margin-top: 15em;
    font-size: 0.6em;
  }
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 0.8em;
    line-height: 1;
    margin: 3em 1px;
  }
  h3 {
    backdrop-filter: invert(0.1);
    font-size: 1.6em;
  }
  footer {
    font-size: 0.6em;
    margin-top: 2em;
  }
}
@media screen and (max-width: 1200px) {
  footer {
   
    font-size: 0.8em;
  }
}
