/* bg-color #1a1a1a 
main color #b3661e
shades #ffa855  #ffe9d5
tint #ff922b





*/

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Tangerine:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20em;
}

h1 {
  color: #b3661e;
  margin: 1em 1em;
  font-family: "Great Vibes", cursive;
  font-size: 2.4em;
  text-decoration: underline;
}

nav {
  display: flex;
  margin-top: 1em;
  padding: 1em;
}
nav a {
  color: #ffa855;
  text-decoration: none;
  padding-right: 1em;
}

.work {
  color: #ffe9d5;
}
nav a:hover {
  color: #ffe9d5;
  transition: ease 0.3s;
  transform: scale(1.1);
}
a.bio {
  margin-top: 3em;
}

a.experience {
  margin-top: 6em;
}
a.work {
  margin-top: 9em;
}

/* *******************main******************* */
main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icons div {
  height: 3em;
  width: 3em;
  background-color: #ff922b;
  margin-bottom: 1em;
  border-radius: 100em;
  margin-left: 1em;
}

.link_1 {
  height: 3em;
  width: 3em;

  border-radius: 100em;
}
/* selects elem with attribute === link  */
[class*="link"]:hover {
  background-color: transparent;
  transition: all ease 0.3s;
}
.link_2 {
  height: 5em !important;
  width: 5em !important;
  background-color: red;
  border-radius: 100em;
}
.link_3 {
  height: 7em !important;
  width: 7em !important;
  border-radius: 100em;
}

.fa-solid,
.fa-brands {
  color: #ffe9d5;
  font-size: 2em;
}


.work {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 70%;
  height: 30em;
}

figure {
  border: 5px solid #ffe9d5;
  border-radius: 5px;
  box-shadow: 9px 4px 31px -4px rgba(255, 233, 213, 0.88);
  -webkit-box-shadow: 9px 4px 31px -4px rgba(255, 233, 213, 0.88);
  -moz-box-shadow: 9px 4px 31px -4px rgba(255, 233, 213, 0.88);
  height: 25em;
  overflow: hidden;
}

figcaption {
  color: whitesmoke;
  height: 2em;
  margin-top: -2em;
}
img {
  border-radius: 5px;
  height: 100%;
}

img:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

.img_work {
  color: #ff922b;
  text-decoration: none;
  position: fixed;
  font-weight: 900;
  backdrop-filter: invert(0.9);
  padding-left: 5em;
}
footer {
  color: #b3661e;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 6em;
}
